<h1>Hello-World  {{ movieTitle }}</h1>

<button [disabled]="!bestMovieEver">Best Movie Ever</button>

<h1>{{ movieTitle }}</h1>

<div class="jumbotron bg-dark text-light">
  <h2 (mouseover)="titleHover('Message')">{{ favFlop.title }}</h2>
  <hr class="my-4" />

  <dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">{{ favFlop.title }}</dd>

    <dt class="col-sm-3">Year Released</dt>
    <dd class="col-sm-9" (click)="yearClicked($event)">{{ favFlop.yearReleased }}</dd>

    <dt class="col-sm-3">Rating</dt>
    <dd class="col-sm-9" (click)="ratingClicked($event)">{{ favFlop.rating }}</dd>

    <dt class="col-sm-3">Imdb Link</dt>
    <dd class="col-sm-9"><a [href]="favFlop.imdbLink">IMDB</a></dd>

    <dt class="col-sm-3">SoundTrack Link</dt>
    <dd class="col-sm-9">
      <a [href]="favFlop.soundTrack.spotifyLink">IMDB</a>
    </dd>

    <!-- <dt class="col-sm-3">SubTitle Link</dt>
    <dd class="col-sm-9">
      <a [href]="favFlop.subTitle?.spotifyLink">IMDB</a>
    </dd> -->
  </dl>

  <button
    (click)="onCheckout($event)"
    class="btn btn-primary">Check Out</button>
</div>

<div style="clear: both;"></div><br />


<h1>Selected Index: {{ selectedIndex }}</h1>
<div style="display: flex; flex-wrap: wrap;">
  <div style="margin-left: 25px;">
    <h3 [hidden]="!isSelected(0)">Chosen!</h3>
    <img src="https://image.shutterstock.com/image-vector/online-cinema-art-movie-watching-260nw-700366096.jpg" width="100px" height="100px">
    <br />
    <button [disabled]="anySelected() && !isSelected(0)" (click)="onVoteClick(0)"> {{ getButtonTextFor(0) }} </button>
  </div>

  <div style="margin-left: 25px;">
    <h3 [hidden]="!isSelected(1)">Chosen!</h3>
    <img src="https://media.istockphoto.com/vectors/movie-time-vector-illustration-cinema-poster-concept-on-red-round-vector-id911590226?k=6&m=911590226&s=612x612&w=0&h=u6vP2FnJG8Ib3O1xofOUeJ5NtHWrWdRnV-OSL8arBnk=" width="100px" height="100px">
    <br />
    <button [disabled]="anySelected() && !isSelected(1)" (click)="onVoteClick(1)">{{ getButtonTextFor(1) }}</button>
  </div>

  <div style="margin-left: 25px;">
    <h3 [hidden]="!isSelected(2)">Chosen!</h3>
    <img src="https://i.ytimg.com/vi/v4h00jKb5pQ/maxresdefault.jpg" width="100px" height="100px">
    <br />
    <button [disabled]="anySelected() && !isSelected(2)" (click)="onVoteClick(2)">{{ getButtonTextFor(2) }}</button>
  </div>

  <div style="margin-left: 25px;">
    <h3 [hidden]="!isSelected(3)">Chosen!</h3>
    <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201910/warr-770x433.jpeg?54Ca7.SmVmwNrlVarS3qz4.4AmY_AbOj" width="100px" height="100px">
    <br />
    <button [disabled]="anySelected() && !isSelected(3)" (click)="onVoteClick(3)">{{ getButtonTextFor(3) }}</button>
  </div>
</div>

<div style="clear: both;"></div><br /><br /><br />

<div class="card bg-dark text-light" style="width: 1.0em; reset: both;">
  <div class="card-body">
    <h6>{{ favFlop.title }}</h6>
  </div>

  <button class="btn btn-primary" style="flex">
    Rent
  </button>
</div>

<app-movie-tile>
</app-movie-tile>


